<div class="simple-page">
  <app-app-navbar></app-app-navbar>
  <main>
    <p class="eyebrow">Account</p>
    <h1>Change password</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        Current password
        <input
          type="password"
          formControlName="current" /></label
      ><label
        >New password<input type="password" formControlName="next" /></label
      ><label
        >Confirm password<input type="password" formControlName="confirm"
      /></label>
      <p class="message" *ngIf="message">{{ message }}</p>
      <button class="primary-button" type="submit">Update password</button>
    </form>
  </main>
  <app-footer></app-footer>
</div>
