# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

#postman
.postman
postman
